/* Animations */
.page-enter {
  opacity: 0.01;
  transform: translateX(-100%);
}

.page-enter-active {
  opacity: 1;
  transform: translateX(0%);
  transition: all 500ms ease-in;
}

.page-exit {
  opacity: 1;
  transform: translateX(0%);
}

.page-exit-active {
  opacity: 0.01;
  transform: translateX(100%);
  transition: all 500ms ease-out;
}

/* Global styles */
body {
  font-family: 'Roboto', sans-serif;
}
ul {
  list-style: none;
}
a {
  color: rgb(0, 85, 153);
}
a:hover {
  color: rgba(0, 85, 153, .5);
}
h1 {
  font-family: 'Poiret One', cursive;
}
h2 {
  font-family: 'Poiret One', cursive;
  font-size: 3rem;
  padding: 0px 8px;
}
h3 {
  font-family: 'Poiret One', cursive;
}
.col-12 {
  padding: 0;
}
.breadcrumb {
  padding: 8px;
  margin-bottom: 4px;
  background-color: aliceblue;
}
.breadcrumb-item {
  font-family: 'Poiret One', cursive;
  font-size: 1.25rem;
}

/* Nav */
.nav-link {
  color: rgb(0, 85, 153)!important;
  font-family: 'Poiret One', cursive;
  font-size: 1.5rem;
}
.nav-link:hover {
  color: rgba(0, 85, 153, .5)!important;
}
.navbar-light .navbar-toggler {
  border-color: rgb(0, 85, 153)!important;
}
.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(0, 85, 153)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

/* Homepage */
.carousel-img {
  width: 100%;
}
.home-container {
  padding: 0;
}
.home-p {
  padding: 64px 64px;
}
@media (min-width: 1200px) {
  .home-p {
    font-size: 1.75rem;
    padding: 124px;
    max-width: 900px;
    margin: 0px auto;
    text-align: center;
  }
}

/* Photos Page */
.img-fluid {
  cursor: pointer;
}
.card {
  border-color: rgb(0, 85, 153);
}
.card-header {
  background-color: aliceblue;
  color: rgb(0, 85, 153);
  font-family: 'Poiret One', cursive;
  font-size: 2rem;
}
.card-body {
  font-size: 1.15rem;
}
.button {
  background-color: rgb(0, 85, 153);
}
.button:hover {
  background-color: rgba(0, 84, 153, 0.726);
}

/* Render Photos */

.p-photos {
  font-size: 1.5rem;
  padding: 0px 8px;
}
.hidden {
  margin-top: 8px;
  padding: 0px 16px;
  font-size: 1.5;
  color: rgb(153, 94, 0);
}

/* Contact Page */

.submit-button {
  background-color: rgb(153, 94, 0);
}

/* footer */
.footer {
  margin: 0px auto;
  padding: 64px 0px;
}